body {
  margin: 0;
  padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;;
}

#colorselect {
	color: black;
}

.main #colorselect {
	color: black;

}

.absoulutemain {
width: 700px;
margin: 0 auto;
padding: 0 0;
background-color: #fcfcfc;
box-shadow: -5px 0px 20px #FFFFFF,  5px 0px 20px #BABECC;
border-radius: 8px;
text-align: center;
color: red;

}

.title {
	margin: 15px auto;
	font-size: 30px;
	font-weight: 600;
	color: #9600ff;
}

#to-do-list {
  width: 280px;
	margin: 0 auto 15px;
	padding: 0;
	list-style: none;
}

#to-do-list li {
	display: flex;
	align-items: center;
	justify-content: center;
  width: 90%;
  height: 40px;
	margin: 8px auto 15px;
	border-bottom: 1px solid #9600ff;
}





#will-do-list {
  width: 280px;
	margin: 0 auto 15px;
	padding: 0;
	list-style: none;
}

#will-do-list li {
	display: flex;
	align-items: center;
	justify-content: center;
  width: 90%;
  height: 40px;
	margin: 8px auto 15px;
	border-bottom: 1px solid #9600ff;
}